<h1><%= "#{@list.name}" %></h1>

<p>Bookmarks:</p>
<% @bookmarks.each do |bookmark| %>
  <div class="card">
    <p><%= bookmark.movie.title %>
    <%= link_to "x",
              bookmark_path(bookmark),
              method: :delete,
              data: { confirm: "Are you sure you want to delete #{bookmark.movie.title}?" } %></p>
  </div>
<% end %>

<%= link_to "Add a bookmark", new_list_bookmark_path(@list) %>
<%= link_to "Show all Lists", lists_path %>
<%= link_to "Delete this list",
            list_path(@list),
            method: :delete,
            data: { confirm: "Are you sure you want to delete #{@list.name}?" }%>
